includes:
    # uncomment for testing bleeding edge features
    #- phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: max
    tmpDir: tmp/phpstan
    reportUnmatchedIgnoredErrors: true
    paths:
        - src/
    type_coverage:  #dd means at least dd % type coverage is required
        return_type: 100
        param_type: 100
        property_type: 100
        print_suggestions: true

    cognitive_complexity:
        class: 210 #40
        function: 40 #9

    strictRules:
        booleansInConditions: false
        strictFunctionCalls: false
        noVariableVariables: false
